/* Section 1:
The html height and body 
min-height relate to make 
the height scale properly 
on all devices.*/
html {
    height: 100%;
    background-color:#37323e;
    font-family: monospace;
}

body {
    min-height: 100%;
}
/*Section 2:
This section defines color
and style of common elements*/
h1 {
    color: #deb841;
}

h2 {
    color: #deb841;
}

p {
    color: #deb841;
}

a.nav {
    color: #deb841;
    text-decoration: none;
}
/*Section 3:
This section defines
container classes for divs. The
Wrapper is for the entire page.
The head-container is for the 
header. Foot-container in for
the footer. The navbar-
container is for the links bellow 
the header. And the container is 
for the content bellow that.*/
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid black;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-self: bottom;
    justify-content: ;
    width: 100%;
    border: 1px solid black;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    width: 100%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
/*Section 4:
This section defines containers
within containers. The logo-container
is for the header elements. The link-container
is for the github and linkedin elements.
The logo element is within the logo container.
The header element is within the link-container.
navbar goes inside the navbar container. etc.*/
.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 175%;
}

.header {
    display: flex;
    align-items: center;
    margin: 4px;
    font-size: 175%;
}

.footer-text {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 90%;
}

.footer-links {
    display: flex;
    align-items: center;
    font-size: 90%;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.navbar {
    margin: 3px;
    text-align: center;
    font-size: 100%;
}
.certificate-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 3px;
}

.text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 3px;
}
/*Section 5:
This is where the img and
other variables are configured
or initialized.*/
img.animated {
    width: 85px;
    height: 85px;
    border-right: 1px solid black;
}

img.certification {
    width: 100px;
    height: 77px;
    margin: 3px;
}

img.project {
    width: 200px;
    height: 258px;
}

img.resume {
    width: 200px;
    height: 260px;
}

img.linkedin {
    width: 25px;
    height: 25px;
}