html {
    background-color: #37323e;
    font-family: monospace;
        text-align: center;
    
}

p {
    color: #deb841;
}

h1 {
    color: #deb841;
}

h2 {
    color: #deb841;
}

a.header {
    font-size: 30px;
    color: #deb841;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: black 3px ridge;
    
}

.button {
  background-color: #37323e;
  border: black 3px groove;
  color: #deb841;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

img.animated {
    width: 120px;
    height: auto;
}

img.certification {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

img.resume {
    width: 200px;
    height:auto;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

img.linkedin {
    width: 50px;
    height:auto;
}
