html {
    height: 100%;
    background-color: #37323e;
    font-family: monospace;
        text-align: center;
}

body {
    min-height: 100%;
    min-width: 90%;
}

h1 {
    color: #deb841;
}

h2 {
    color: #deb841;
}

p {
    color: #deb841;
}

a.nav {
    color: #deb841;
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid black;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    width: 100%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.certificate-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 3px;
}

.text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 3px;
}
.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 175%;
}

.header {
    display: flex;
    align-items: center;
    margin: 4px;
    font-size: 175%;
}

.navbar {
    margin: 3px;
    text-align: center;
    font-size: 100%;
}

img.animated {
    width: 85px;
    height: 85px;
    border-right: 1px solid black;
}

img.certification {
    width: 200px;
    height: 154px;
    margin-bottom: 50px;
}

img.project {
    width: 200px;
    height: 258px;
}

img.resume {
    width: 200px;
    height: 260px;
}

img.linkedin {
    width: 25px;
    height: 25px;
}